<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Movies API</a>
</nav>

<div *ngIf="error" class="alert alert-danger" role="alert" style="margin-top: 5px;">
  {{ error }}
</div>

<div class="container" style="margin-top: 50px;">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select a character
    </button>
    <div class="dropdown-menu">
      <button *ngFor="let char of characters" class="dropdown-item" (click)="getCharacter(char)">{{ char.name }}</button>
    </div>
  </div>
</div>

<div *ngIf="loading" style="position: absolute; top: 50%; left: 50%;" class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>

<div *ngIf="characterInfo">
  <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Bio</h1>
        <p class="lead">Information about the character you have selected and the movies in which the individual has acted in</p>
        <hr class="my-4">

        <div class="list-group">
          <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start">
              <h5 class="mb-1">Name</h5>
              <span style="margin-right:10px; margin-left: 10px;">:</span>
              <p>{{ characterInfo.name }}</p>
            </div>
          </div>
          <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start">
              <h5 class="mb-1">Gender</h5>
              <span style="margin-right:10px; margin-left: 10px;">:</span>
              <p>{{ characterInfo.gender }}</p>
            </div>
          </div>
          <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start">
              <h5 class="mb-1">Filmography</h5>
              <span style="margin-right:10px; margin-left: 10px;">:</span>
            </div>
            <ul class="list-group">
              <li *ngFor="let movie of movies" class="list-group-item">
                <div class="d-flex w-100 justify-content-start">
                  <div>Title: {{ movie.title }} |</div>

                  <div style="margin-left: 5px;">Released Date: {{ movie.release_date | date: 'fullDate' }}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
